<h2><strong>Olá, {{ owner }}</strong></h2>
<h2>Você tem um novo inscrito em seu meetup:</h2>
<h4>
  <strong>{{ meetup }}</strong> <br />
</h4>
<h5>
  <strong> {{ description }} </strong><br />
  <br />
</h5>
<p>
  <strong>Nome do inscrito: </strong> {{ subscribed }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Data: </strong> {{ date }} <br />
  <br />
</p>
